@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Montserrat:ital,wght@0,600;1,500;1,600&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #2a2c39;
   font-family: "Josefin Sans", sans-serif;
   scroll-behavior: smooth;
}

.container {
   max-width: 1300px;
   margin: auto;
   padding: 0 20px;
}

.title {
   text-align: center;
   margin-bottom: 0;
   line-height: normal;
   font-size: 45px;
   filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3))
      drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1))
      drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.1));
}

@media only screen and (max-width: 668px) {
   .title {
      font-size: 30px;
   }
}
