.html {
   animation: orbit1 90s infinite forwards;
}

.css {
   animation: orbit2 90s infinite forwards;
}

.javascript {
   animation: orbit3 90s infinite forwards;
}

.Bootstrap {
   animation: orbit4 90s infinite forwards;
}
.Tailwind {
   animation: orbit5 90s infinite forwards;
}

.ReactJS {
   animation: orbit6 90s infinite forwards;
}

.firebase {
   animation: orbit7 90s infinite forwards;
}

.mui {
   animation: orbit8 90s infinite forwards;
}

.nextjs {
   animation: orbit9 90s infinite forwards;
}
.redux {
   animation: orbit10 90s infinite forwards;
}

/* backend */

.node {
   animation: orbit11 90s infinite forwards;
}

.exprees {
   animation: orbit12 90s infinite forwards;
}

.mongodb {
   animation: orbit13 90s infinite forwards;
}

.graphQl {
   animation: orbit14 90s infinite forwards;
}
.typescript {
   animation: orbit15 90s infinite forwards;
}

.jwt {
   animation: orbit16 90s infinite forwards;
}

.postgre {
   animation: orbit17 90s infinite forwards;
}

.SQL {
   animation: orbit18 90s infinite forwards;
}

.AWS {
   animation: orbit19 90s infinite forwards;
}
.docker {
   animation: orbit20 90s infinite forwards;
}

.text {
   animation: orbit111 90s infinite forwards;
   color: #edf2f7;
   font-size: 28px;
}

@keyframes orbit1 {
   from {
      transform: rotate(0deg) translateX(240px) rotate(0deg);
   }
   to {
      transform: rotate(360deg) translateX(240px) rotate(-360deg);
   }
}
@keyframes orbit2 {
   from {
      transform: rotate(35deg) translateX(240px) rotate(35deg);
   }
   to {
      transform: rotate(395deg) translateX(240px) rotate(-395deg);
   }
}
@keyframes orbit3 {
   from {
      transform: rotate(70deg) translateX(240px) rotate(70deg);
   }
   to {
      transform: rotate(430deg) translateX(240px) rotate(-430deg);
   }
}
@keyframes orbit4 {
   from {
      transform: rotate(105deg) translateX(240px) rotate(105deg);
   }
   to {
      transform: rotate(465deg) translateX(240px) rotate(-465deg);
   }
}
@keyframes orbit5 {
   from {
      transform: rotate(140deg) translateX(240px) rotate(140deg);
   }
   to {
      transform: rotate(500deg) translateX(240px) rotate(-500deg);
   }
}
@keyframes orbit6 {
   from {
      transform: rotate(175deg) translateX(240px) rotate(175deg);
   }
   to {
      transform: rotate(535deg) translateX(240px) rotate(-535deg);
   }
}
@keyframes orbit7 {
   from {
      transform: rotate(210deg) translateX(240px) rotate(210deg);
   }
   to {
      transform: rotate(570deg) translateX(240px) rotate(-570deg);
   }
}
@keyframes orbit8 {
   from {
      transform: rotate(245deg) translateX(240px) rotate(245deg);
   }
   to {
      transform: rotate(605deg) translateX(240px) rotate(-605deg);
   }
}
@keyframes orbit9 {
   from {
      transform: rotate(290deg) translateX(240px) rotate(290deg);
   }
   to {
      transform: rotate(650deg) translateX(240px) rotate(-650deg);
   }
}
@keyframes orbit10 {
   from {
      transform: rotate(325deg) translateX(240px) rotate(325deg);
   }
   to {
      transform: rotate(685deg) translateX(240px) rotate(-685deg);
   }
}

/* backend */

@keyframes orbit11 {
   from {
      transform: rotate(0deg) translateX(240px) rotate(0deg);
   }
   to {
      transform: rotate(360deg) translateX(240px) rotate(-360deg);
   }
}
@keyframes orbit12 {
   from {
      transform: rotate(35deg) translateX(240px) rotate(35deg);
   }
   to {
      transform: rotate(395deg) translateX(240px) rotate(-395deg);
   }
}
@keyframes orbit13 {
   from {
      transform: rotate(70deg) translateX(240px) rotate(70deg);
   }
   to {
      transform: rotate(430deg) translateX(240px) rotate(-430deg);
   }
}
@keyframes orbit14 {
   from {
      transform: rotate(105deg) translateX(240px) rotate(105deg);
   }
   to {
      transform: rotate(465deg) translateX(240px) rotate(-465deg);
   }
}
@keyframes orbit15 {
   from {
      transform: rotate(140deg) translateX(240px) rotate(140deg);
   }
   to {
      transform: rotate(500deg) translateX(240px) rotate(-500deg);
   }
}
@keyframes orbit16 {
   from {
      transform: rotate(175deg) translateX(240px) rotate(175deg);
   }
   to {
      transform: rotate(535deg) translateX(240px) rotate(-535deg);
   }
}
@keyframes orbit17 {
   from {
      transform: rotate(210deg) translateX(240px) rotate(210deg);
   }
   to {
      transform: rotate(570deg) translateX(240px) rotate(-570deg);
   }
}
@keyframes orbit18 {
   from {
      transform: rotate(245deg) translateX(240px) rotate(245deg);
   }
   to {
      transform: rotate(605deg) translateX(240px) rotate(-605deg);
   }
}
@keyframes orbit19 {
   from {
      transform: rotate(290deg) translateX(240px) rotate(290deg);
   }
   to {
      transform: rotate(650deg) translateX(240px) rotate(-650deg);
   }
}
@keyframes orbit20 {
   from {
      transform: rotate(315deg) translateX(240px) rotate(315deg);
   }
   to {
      transform: rotate(685deg) translateX(240px) rotate(-685deg);
   }
}

@media only screen and (max-width: 992px) {
   .text {
      font-size: 24px;
   }
   @keyframes orbit1 {
      from {
         transform: rotate(0deg) translateX(160px) rotate(0deg);
      }
      to {
         transform: rotate(360deg) translateX(160px) rotate(-360deg);
      }
   }
   @keyframes orbit2 {
      from {
         transform: rotate(35deg) translateX(160px) rotate(35deg);
      }
      to {
         transform: rotate(395deg) translateX(160px) rotate(-395deg);
      }
   }
   @keyframes orbit3 {
      from {
         transform: rotate(70deg) translateX(160px) rotate(70deg);
      }
      to {
         transform: rotate(430deg) translateX(160px) rotate(-430deg);
      }
   }
   @keyframes orbit4 {
      from {
         transform: rotate(105deg) translateX(160px) rotate(105deg);
      }
      to {
         transform: rotate(465deg) translateX(160px) rotate(-465deg);
      }
   }
   @keyframes orbit5 {
      from {
         transform: rotate(140deg) translateX(160px) rotate(140deg);
      }
      to {
         transform: rotate(500deg) translateX(160px) rotate(-500deg);
      }
   }
   @keyframes orbit6 {
      from {
         transform: rotate(175deg) translateX(160px) rotate(175deg);
      }
      to {
         transform: rotate(535deg) translateX(160px) rotate(-535deg);
      }
   }
   @keyframes orbit7 {
      from {
         transform: rotate(210deg) translateX(160px) rotate(210deg);
      }
      to {
         transform: rotate(570deg) translateX(160px) rotate(-570deg);
      }
   }
   @keyframes orbit8 {
      from {
         transform: rotate(245deg) translateX(160px) rotate(245deg);
      }
      to {
         transform: rotate(605deg) translateX(160px) rotate(-605deg);
      }
   }
   @keyframes orbit9 {
      from {
         transform: rotate(290deg) translateX(160px) rotate(290deg);
      }
      to {
         transform: rotate(650deg) translateX(160px) rotate(-650deg);
      }
   }
   @keyframes orbit10 {
      from {
         transform: rotate(325deg) translateX(160px) rotate(325deg);
      }
      to {
         transform: rotate(685deg) translateX(160px) rotate(-685deg);
      }
   }

   /* backend */

   @keyframes orbit11 {
      from {
         transform: rotate(0deg) translateX(160px) rotate(0deg);
      }
      to {
         transform: rotate(360deg) translateX(160px) rotate(-360deg);
      }
   }
   @keyframes orbit12 {
      from {
         transform: rotate(35deg) translateX(160px) rotate(35deg);
      }
      to {
         transform: rotate(395deg) translateX(160px) rotate(-395deg);
      }
   }
   @keyframes orbit13 {
      from {
         transform: rotate(70deg) translateX(160px) rotate(70deg);
      }
      to {
         transform: rotate(430deg) translateX(160px) rotate(-430deg);
      }
   }
   @keyframes orbit14 {
      from {
         transform: rotate(105deg) translateX(160px) rotate(105deg);
      }
      to {
         transform: rotate(465deg) translateX(160px) rotate(-465deg);
      }
   }
   @keyframes orbit15 {
      from {
         transform: rotate(140deg) translateX(160px) rotate(140deg);
      }
      to {
         transform: rotate(500deg) translateX(160px) rotate(-500deg);
      }
   }
   @keyframes orbit16 {
      from {
         transform: rotate(175deg) translateX(160px) rotate(175deg);
      }
      to {
         transform: rotate(535deg) translateX(160px) rotate(-535deg);
      }
   }
   @keyframes orbit17 {
      from {
         transform: rotate(210deg) translateX(160px) rotate(210deg);
      }
      to {
         transform: rotate(570deg) translateX(160px) rotate(-570deg);
      }
   }
   @keyframes orbit18 {
      from {
         transform: rotate(245deg) translateX(160px) rotate(245deg);
      }
      to {
         transform: rotate(605deg) translateX(160px) rotate(-605deg);
      }
   }
   @keyframes orbit19 {
      from {
         transform: rotate(290deg) translateX(160px) rotate(290deg);
      }
      to {
         transform: rotate(650deg) translateX(160px) rotate(-650deg);
      }
   }
   @keyframes orbit20 {
      from {
         transform: rotate(315deg) translateX(160px) rotate(315deg);
      }
      to {
         transform: rotate(685deg) translateX(160px) rotate(-685deg);
      }
   }
}

@media only screen and (max-width: 600px) {
   .text {
      font-size: 18px;
      /* margin-left: -62px; */
   }
   @keyframes orbit1 {
      from {
         transform: rotate(0deg) translateX(134px) rotate(0deg);
      }
      to {
         transform: rotate(360deg) translateX(134px) rotate(-360deg);
      }
   }
   @keyframes orbit2 {
      from {
         transform: rotate(35deg) translateX(134px) rotate(35deg);
      }
      to {
         transform: rotate(395deg) translateX(134px) rotate(-395deg);
      }
   }
   @keyframes orbit3 {
      from {
         transform: rotate(70deg) translateX(134px) rotate(70deg);
      }
      to {
         transform: rotate(430deg) translateX(134px) rotate(-430deg);
      }
   }
   @keyframes orbit4 {
      from {
         transform: rotate(105deg) translateX(134px) rotate(105deg);
      }
      to {
         transform: rotate(465deg) translateX(134px) rotate(-465deg);
      }
   }
   @keyframes orbit5 {
      from {
         transform: rotate(140deg) translateX(134px) rotate(140deg);
      }
      to {
         transform: rotate(500deg) translateX(134px) rotate(-500deg);
      }
   }
   @keyframes orbit6 {
      from {
         transform: rotate(175deg) translateX(134px) rotate(175deg);
      }
      to {
         transform: rotate(535deg) translateX(134px) rotate(-535deg);
      }
   }
   @keyframes orbit7 {
      from {
         transform: rotate(210deg) translateX(134px) rotate(210deg);
      }
      to {
         transform: rotate(570deg) translateX(134px) rotate(-570deg);
      }
   }
   @keyframes orbit8 {
      from {
         transform: rotate(245deg) translateX(134px) rotate(245deg);
      }
      to {
         transform: rotate(605deg) translateX(134px) rotate(-605deg);
      }
   }
   @keyframes orbit9 {
      from {
         transform: rotate(290deg) translateX(134px) rotate(290deg);
      }
      to {
         transform: rotate(650deg) translateX(134px) rotate(-650deg);
      }
   }
   @keyframes orbit10 {
      from {
         transform: rotate(325deg) translateX(134px) rotate(325deg);
      }
      to {
         transform: rotate(685deg) translateX(134px) rotate(-685deg);
      }
   }

   /* backend */

   @keyframes orbit11 {
      from {
         transform: rotate(0deg) translateX(134px) rotate(0deg);
      }
      to {
         transform: rotate(360deg) translateX(134px) rotate(-360deg);
      }
   }
   @keyframes orbit12 {
      from {
         transform: rotate(35deg) translateX(134px) rotate(35deg);
      }
      to {
         transform: rotate(395deg) translateX(134px) rotate(-395deg);
      }
   }
   @keyframes orbit13 {
      from {
         transform: rotate(70deg) translateX(134px) rotate(70deg);
      }
      to {
         transform: rotate(430deg) translateX(134px) rotate(-430deg);
      }
   }
   @keyframes orbit14 {
      from {
         transform: rotate(105deg) translateX(134px) rotate(105deg);
      }
      to {
         transform: rotate(465deg) translateX(134px) rotate(-465deg);
      }
   }
   @keyframes orbit15 {
      from {
         transform: rotate(140deg) translateX(134px) rotate(140deg);
      }
      to {
         transform: rotate(500deg) translateX(134px) rotate(-500deg);
      }
   }
   @keyframes orbit16 {
      from {
         transform: rotate(175deg) translateX(134px) rotate(175deg);
      }
      to {
         transform: rotate(535deg) translateX(134px) rotate(-535deg);
      }
   }
   @keyframes orbit17 {
      from {
         transform: rotate(210deg) translateX(134px) rotate(210deg);
      }
      to {
         transform: rotate(570deg) translateX(134px) rotate(-570deg);
      }
   }
   @keyframes orbit18 {
      from {
         transform: rotate(245deg) translateX(134px) rotate(245deg);
      }
      to {
         transform: rotate(605deg) translateX(134px) rotate(-605deg);
      }
   }
   @keyframes orbit19 {
      from {
         transform: rotate(290deg) translateX(134px) rotate(290deg);
      }
      to {
         transform: rotate(650deg) translateX(134px) rotate(-650deg);
      }
   }
   @keyframes orbit20 {
      from {
         transform: rotate(315deg) translateX(134px) rotate(315deg);
      }
      to {
         transform: rotate(685deg) translateX(134px) rotate(-685deg);
      }
   }
}
